<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSA_Dashboard</title>
    <link rel="stylesheet" href="../css/dashboad.css">
</head>
<body>
    <div class="sect1">
        <nav>asd</nav>
    </div>
    <div class="sect2">
        <header>
            <h1>Dashboard</h1>
            <div class="adminActions">
                <div class="profile"></div>
            </div>
        </header>
        <section class="landing">
            <h3>Overview</h3>
            <div class="cardContainer">
                <div class="card">
                    total number of users
                    <div id="numberOfUsers" class="number">
                        30+
                    </div>
                </div>
                <div class="card">
                    total number of users
                    <div id="numberOfUsers" class="number">
                        30+
                    </div>
                </div>
                <div class="card">
                    total number of users
                    <div id="numberOfUsers" class="number">
                        30+
                    </div>
                </div>
            </div>
            <h3>Analysis</h3>
            <div class="cardCotainer">
                <div class="Acard">
                    
                </div>
            </div>
        </section>
    </div>
</body>
</html>