<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSA profiles page</title>
    <link rel="icon" type="image/x-icon" href="../img/LSAicon.ico">
    <link rel="stylesheet" href="../css/manageProfile.css">
    <link rel="stylesheet" href="../css/bganimation.css">
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid blue;
            border-bottom: 16px solid blue;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
          }
          
          @keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
          }
    </style>
</head>
<body>
    <div class="head">
        <div class="back" onclick="goBack()">
           <
        </div>
        <div class="bg-head">
            <div class="area" >
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div >
            <div class="img-holder">
                <div class="profileImg">
                    <img id="user-picture" src="../img/propic.png" alt="">
                </div>
                <div class="addPic" onclick="document.getElementById('id02').style.display = 'flex';">
                    &#10133;
                </div>
            </div>
            <div id="userEmail" class="userEmail">
                testemail@gmail.com
            </div>
        </div>
    </div>

    <div class="about">
        <div class="firstname">
            <div class="lable">
                FirstName:
            </div>
            <div class="d-data">
                <div id="firstName" class="data">
                    Gena
                </div>
                <div class="option" onclick="document.getElementById('id03').style.display = 'flex';">
                    &#10133;
                </div>
            </div>
        </div>
        <div class="lastname">
            <div class="lable">
                LastName:
            </div>
            <div class="d-data">
                <div id="lastName" class="data">
                    Zylla
                </div>
                <div class="option" onclick="document.getElementById('id03').style.display = 'flex';">
                    &#10133;
                </div>
            </div>
        </div>
        <div class="matricle">
            <div class="lable">
                Matricle:
            </div>
            <div class="d-data">
                <div class="data">
                    LMU-24swe063_placeholder
                </div>
                
            </div>
        </div>
    </div>

    <div class="bottomOptions">
        <button class="button" onclick="document.getElementById('id01').style.display = 'flex';">
            Manage conversations
        </button>
    
        <button class="button">
            DashBoard
        </button>
    </div>

    <footer>

    </footer>

    <!-- The Modal for managing conversations -->
    <div id="id01" class="modal">
        <div class="conversations">
            <h2>
                Manage all your conversations.
            </h2>
            <ul id="mConvos">


            </ul>
        </div>
    </div>

    <!-- The Modal for updating user profile image -->
    <div id="id02" class="modal">
        <form class="updateImgForm" id="updateImgForm" >
            <h2 style="font-family:'Dosis', sans-serif; text-align:center;">
                Update profile image
            </h2>
            <input type="file" name="udateImage" accept="image/*" id="imgFile">
            <button type="submit" class="button" style="align-self: center;"> Update </button>
        </form>
    </div>
 
    <!-- The Modal for updating user name -->
    <div id="id03" class="modal">
        <form class="updateUdetails" onsubmit="updateUdetails(event)" >
            <h2 style="font-family:'Dosis', sans-serif; text-align:center;">
                Update your username
            </h2>
            <label for="firstName">FirstName:</label>
            <input type="text" name="firstName" id="UFN" value="">
            <label for="lasttName">LastName:</label>
            <input type="text" name="lastName" id="ULN" value="">
            <button type="submit" class="button" style="align-self: center;"> Update </button>
        </form>
    </div>

    <!-- The Modal for loader -->
    <div id="id04" class="modal">
        <div class="loader"></div> 
    </div>

    <script src="../js/manageProfile.js"></script>
</body>
</html>