*{
    padding:0;
    margin:0;
    font-family: Helvetica;
}
::-webkit-scrollbar{
    display: none;
}
body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(359deg, #fffffffc, #fffffff0);
    backdrop-filter: blur(1px);
    box-shadow: 1px 1px 9px #d7d4d478;
}
.logo{
    margin-left: 5%;
    font-family: system-ui;
    font-weight: 900;
    font-size: 1.7rem;
    -webkit-text-stroke: 0px #00000085;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ef00ffbf, rgb(7 164 255 / 36%));
}
.pages{
    display: flex;
    gap: 1.2rem;
}
.p{
    border-bottom: 3px solid transparent;
    transition: ease-in-out;
}
.active,.p:hover{
    border-bottom: 3px solid blueviolet;
    transition: ease-in-out;
    transition-duration: 1s;
}
.sign{
    display: flex;
    gap: 1.2rem;
    margin-right: 5%;
}
.signUp{
    background-color: blueviolet;
    border: 1px solid transparent;
    color: white;
}
.signUp:hover{
    background-color: transparent;
    color: black;
    border: 1px solid blueviolet;
}
.signIn{
    border: 1px solid blueviolet;
}
.signIn:hover{
    background-color: blueviolet;
    border: 1px solid transparent;
    color: white;
}
.signUp,.signIn{
    padding: 9px;
    border-radius: 10px;
}
.logo,.pages,.sign:hover{
    cursor: pointer;
}
/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -10px;
    display: flex;
    flex-direction: column;
    background-color: #3c2537fc;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  .B{
    display: none;
  }
.space{
    height: 100%; width: 100%;
}
.welcome{
    margin-top: 0;
    width: 100%;
    height: 90%;
    display: flex;
}
.welcomeText{
    width: 50%;
    height: 100%;
    display: flex;
  flex-direction: column;
  margin-left: 5vw;
}
.I1{
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8vw;
}
.I2{
    
    font-size: 2rem;
}
.prase{
    margin-top: 2rem;
}
#startBTN{
    margin-top: 2rem;
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 179, 255, 0.881);
    border-radius: 20px;
    color: white;
    font-family: system-ui;
    padding: 0;
    font-size: 1.3rem;
    background-color: blueviolet;
    animation: bit 2s ease-in-out 0s infinite alternate;
}
#startBTN:hover{
    cursor: pointer;
}
@keyframes bit{
    0%   {box-shadow: 0px 0px 0px rgba(0, 179, 255, 0.881);font-size: 1.3rem;}
    25%  {
        box-shadow: 1px 1px 14px rgba(0, 179, 255, 0.881);
    }
    50%  {
        box-shadow: 1px 1px 24px rgba(0, 179, 255, 0.881);
        font-size: 1.6rem;
    }
    75%  {
        box-shadow: 1px 1px 14px rgba(0, 179, 255, 0.881);
    }
    100% {
        box-shadow: 1px 1px 1px rgba(0, 179, 255, 0.881);
        font-size: 1.3rem;
    }
  }
.welImg{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.welImg>img{
    width: auto;
    height: 100%;
}
.about{
    position: relative;
    display: flex;
    flex-direction: column;
}
.aboutUs{
    justify-content: center;
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 1.8rem;
    font-style: oblique;
}
.half{
    display:flex;
    height: 43vh;
}
.aniI{
    width: 400px; height:auto; background:transparent; z-index:0; position:relative; margin-top:0;
}
.message1{
    position: absolute;
    height: fit-content;
    max-width: 180px;
    font-family: verdana;
    border: none;
    border-radius: 6px 0 10px 15px;
    background-color: #dcb9fd;
    color: black;
    padding: 6px;
    top: 28%;
    right: 18%;
    box-shadow: 1px 2px 6px rgba(128, 128, 128, 0.816);
}
.message2{
    position: absolute;
    height: fit-content;
    border: none;
    border-radius: 0 6px 15px 10px;
    background-color: #d8deff;
    color: black;
    padding: 4px 4px 6px;
    top: 36%;
    left: 1%;
    z-index: -1;
    box-shadow: 1px 2px 6px rgba(128, 128, 128, 0.816);
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password],input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
@media screen and (max-width: 780px) {
    .B{
        display: block;
    }
    .sidenav {padding-top: 55px;}
    .sidenav a {font-size: 18px;}
    span.psw {
        display: block;
        float: none;
      }
      .cancelbtn {
        width: 100%;
      }
      .message1{
        right: 10px;
      }
    .welcome{
        flex-direction: column;
        height: 100%
    }
    .welcomeText{
        width: 80%;
        height: 50vh;
        margin-left: 0;
        margin-top: 1rem;
        padding: 0 10%;
    }
    .I2 {
        font-size: 1.5rem;
    }
    .I1{
        margin-top: 12vw;
    }
    .welImg{
        width: 100%;
        height: 50vh;
    }
    .welImg>img{
        width: 300px;
    } 
    .message2{
        
    }
    nav{
        height: fit-content;
        flex-direction: row;
        background-image: linear-gradient(359deg, #fffffffc, #fffffff0);
        backdrop-filter: blur(1px);
    }
    .nI{
        border-radius: 10px;
        width: 60%;
    }
    .nI:hover{
        background-color: rgb(57, 27, 72);
        align-self: center;
    }
    .logo{
        font-size: 2.1rem;
        margin-left: 2%;
        margin-bottom: 10px;
    }
    .pages{
        font-weight: 700;
        margin-bottom: 8px;
        display: none;
    }
    .sign{
        display: none;
        width: 80%;
        align-self: center;
    }
    #startBTN{
        width: 170px;
    }
    .modal-content{
        width: 90%;
        height: fit-content;
    }
    .prase{
        margin-top: 0.8rem;
    }
    .modal{
        top: -6%;
    }
    .half{
        flex-direction: column-reverse;
        width: 98%;
        height: 45vh;
        overflow: scroll;
        justify-content: center;
        align-items: center;
    }
    .halfI{
        flex-direction: column;
        width: 98%;
        height: 45vh;
        overflow: scroll;
        justify-content: center;
        align-items: center;
    }
    .aboutUs{
        font-size: 1rem;
        text-align: center;
        margin-left: 0;
        width: 90%;
    }
    .aniI{
        font-size: 1rem;
        text-align: center;
        width: 90%;
        margin-left: 0;
        height: 180px;
    }
}