@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
    padding:0;
    margin:0;
}
.head{
    position: relative;
    width: 100%;
    height: 40vh;
   
}
.bg-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: #d3ced6;
    border-radius: 0px 0px 40% 40%;
    overflow: hidden;
}
.back{
    z-index: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.img-holder{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}
.profileImg{
    position: absolute;
    bottom: 20%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #8a8a8a;
    box-shadow: 3px 3px 10px #808080d6;
    overflow: hidden;
}
.profileImg>img{
    background-attachment: fixed;
    width: 100%;
    clip: auto;
}
.userEmail{
    position: absolute;
    bottom: 6%;
    font-size: 1.4rem;font-weight: 500;
    font-family: 'Dosis', sans-serif;
}
.addPic{
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: deepskyblue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-align: center;
    position: absolute;
    bottom: 18%;
    margin-left: 80px;
}
.about{
    width: 100%;
    height: auto;
    border-top: 1px solid #8080803d;
    border-bottom: 1px solid #8080803d;
    
}
.firstname,.lastname,.matricle{
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.lable{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 0.8rem;
    font-weight: 800;
    color: #8a8a8a;
}
.d-data{
    margin-top: 5px;
    display: flex;
    width: 220px;
    justify-content: space-between;
}
.data{
    position: relative;
    max-width: 200px;
    overflow: hidden;
    font-size: 1.3rem;font-weight: 500;
    font-family: 'Dosis', sans-serif;
}
.option{
    margin-left: 30px;
}
.bottomOptions{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
  }
.button{
    width: 80%;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover{
    background-color: #f1f1f1;
  }
  .option:hover,.addPic:hover{
    cursor:pointer;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    justify-content: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .conversations{
    list-style: none;
    list-style-type: none;
    background-color: white;
    width: 40%;
    height: 70%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
  }
  .conversations>ul{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .conversations>ul>li{
    list-style: none;
    border: 0.6px solid rgb(184 91 233 / 68%);
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .convoActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
  }
  .edit:hover,.delete:hover,.back:hover{
    cursor: pointer;
  }
  
  .updateImgForm{
    margin-top: 10%;
    width: 260px;
    height: 40vh;
    background-color: azure;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .updateUdetails{
    margin-top: 10%;
    width: 260px;
    height: 50vh;
    background-color: azure;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .updateUdetails>input{
    height: 30px;
    padding: 1px 9px;
    border-radius: 9px;
    border: 0.6px solid grey;
  }

  footer{
    width: 100%;
    height: 4vh;
    background-color: #00000075;
    position: absolute;
    bottom: 0;
    
  }


@media screen and (max-width: 780px) {
    .conversations{
        width: 80%;
    }
    .bottomOptions{
      bottom: 2vh;
    }

}